
html,body{
    background-color: #98c9eb;
    min-height: 100%;
}
/*.btn{*/
    /*margin:5px;*/
/*}*/
/*.container{*/
    /*min-height: 100%;*/
    /*overflow: hidden;*/

.friendsList{
    height:100%;
    min-height:100%;
}
.dash{
    margin: 10px;
    border-radius: 5px;
}


