

<nav class="navbar navbar-inverse"></nav>

<div class="container-fluid text-center">
    <div class="row">
       <h1>Register a new user</h1>
        <div class="col-sm-4 col-sm-offset-4">
           <form ng-submit='register()'>

               <label>Username:</label><input type="text" class="form-control" ng-model='user.username'>
               <label>Email</label><input type="text" class="form-control" ng-model='user.email'>
               <label>Password:</label><input type="password" class="form-control" ng-model='user.password'>

               <button type="submit" class="btn btn-primary">Register</button>
           </form>

        </div>
    </div>
</div>
