
<nav class="navbar navbar-inverse"></nav>

<div class="container-fluid text-center" ng-show='!loggedIn'>
    <div class="row">
       <h1>User-Login</h1>
        <div class="col-sm-4 col-sm-offset-4">
           <form ng-submit='login()'>
               <label>Email:</label><input type="text" class="form-control" ng-model='user.email'>
               <label>Password:</label><input type="password" class="form-control" ng-model='user.password'>

               <button type="submit" class="btn btn-primary">Login</button> or <button type="button" class="btn"><a ui-sref='register'>Register</a></button>
           </form>

        </div>
    </div>
</div>

<div class="container" ng-show="loggedIn">
    <div class="row-fluid">
        <div class="col-md-2 friendsList bg-success">
            This will be friends list
        </div>
        <div class="col-md-10">
            <div class="row-fluid text-center">
                <h4>Press <kbd>Enter</kbd> to send tweet</h4>
                <textarea ng-model='newTweet' ng-keypress='sendTweet(event)' class="form-control" placeholder="write your tweet and press enter">
                </textarea>
            </div>


            <div class="row-fluid bg-warning dash" ng-repeat="tweet in tweets">
                <img ng-src='{{tweet.userImage}}'>
                <div class="span6"><h4><strong>{{tweet.user}}</strong> posted  {{tweet.Date | fromNow }}</h4></div>
                <div class="span6">{{tweet.content}}</div>
                <button class="btn btn-primary" ng-click='like(tweet,user._id)' ng-hide='isLiked(tweet)'>Like</button>
                <button class="btn btn-primary" ng-click='unlike(tweet,user._id)' ng-show='isLiked(tweet)'>Unlike</button>
                <div>likes:{{tweet.likes}}</div>
            </div>


        </div>
    </div>
</div>