<nav class="navbar navbar-inverse"></nav>
<div class="container-fluid">
   <div class="col-sm-8 col-sm-offset-2">
    <input type="text" ng-enter='sendMessage()' ng-model='message' placeholder='Enter your message here' size='50'></input>
    <br>
    <button size='100' ng-click='sendMessage()'>Submit</button>
    <br>
    <p>Filter Messages:
    <input type="text" ng-model='filterText'>
    <ul>
        <li ng-repeat='text in messages | filter : filterText'>
            <p>{{text.username}} - {{text.message}}</p>
        </li>
    </ul>
</div>
</div>
